function Ball.new 0
push constant 15
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 10
push argument 3
push constant 6
sub
pop this 11
push argument 4
pop this 12
push argument 5
push constant 6
sub
pop this 13
push constant 0
pop this 14
push pointer 0
call Ball.show 1
pop temp 0
push pointer 0
return
function Ball.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Ball.show 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.hide 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.draw 0
push argument 0
pop pointer 0
push this 0
push this 1
push this 0
push constant 5
add
push this 1
push constant 5
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Ball.getLeft 0
push argument 0
pop pointer 0
push this 0
return
function Ball.getRight 0
push argument 0
pop pointer 0
push this 0
push constant 5
add
return
function Ball.setDestination 3
push argument 0
pop pointer 0
push argument 1
push this 0
sub
pop this 2
push argument 2
push this 1
sub
pop this 3
push this 2
call Math.abs 1
pop local 0
push this 3
call Math.abs 1
pop local 1
push local 0
push local 1
lt
pop this 7
push this 7
if-goto IF01
goto IF_FALSE01
label IF01
push local 0
pop local 2
push local 1
pop local 0
push local 2
pop local 1
push this 1
push argument 2
lt
pop this 8
push this 0
push argument 1
lt
pop this 9
goto IF_END01
label IF_FALSE01
push this 0
push argument 1
lt
pop this 8
push this 1
push argument 2
lt
pop this 9
label IF_END01
push constant 2
push local 1
call Math.multiply 2
push local 0
sub
pop this 4
push constant 2
push local 1
call Math.multiply 2
pop this 5
push constant 2
push local 1
push local 0
sub
call Math.multiply 2
pop this 6
push constant 0
return
function Ball.move 0
push argument 0
pop pointer 0
push pointer 0
call Ball.hide 1
pop temp 0
push this 4
push constant 0
lt
if-goto IF12
goto IF_FALSE12
label IF12
push this 4
push this 5
add
pop this 4
goto IF_END12
label IF_FALSE12
push this 4
push this 6
add
pop this 4
push this 9
if-goto IF13
goto IF_FALSE13
label IF13
push this 7
if-goto IF14
goto IF_FALSE14
label IF14
push this 0
push constant 4
add
pop this 0
goto IF_END14
label IF_FALSE14
push this 1
push constant 4
add
pop this 1
label IF_END14
goto IF_END13
label IF_FALSE13
push this 7
if-goto IF15
goto IF_FALSE15
label IF15
push this 0
push constant 4
sub
pop this 0
goto IF_END15
label IF_FALSE15
push this 1
push constant 4
sub
pop this 1
label IF_END15
label IF_END13
label IF_END12
push this 8
if-goto IF26
goto IF_FALSE26
label IF26
push this 7
if-goto IF27
goto IF_FALSE27
label IF27
push this 1
push constant 4
add
pop this 1
goto IF_END27
label IF_FALSE27
push this 0
push constant 4
add
pop this 0
label IF_END27
goto IF_END26
label IF_FALSE26
push this 7
if-goto IF28
goto IF_FALSE28
label IF28
push this 1
push constant 4
sub
pop this 1
goto IF_END28
label IF_FALSE28
push this 0
push constant 4
sub
pop this 0
label IF_END28
label IF_END26
push this 0
push this 10
gt
not
if-goto IF39
goto IF_FALSE39
label IF39
push constant 1
pop this 14
push this 10
pop this 0
label IF_FALSE39
push this 0
push this 11
lt
not
if-goto IF410
goto IF_FALSE410
label IF410
push constant 2
pop this 14
push this 11
pop this 0
label IF_FALSE410
push this 1
push this 12
gt
not
if-goto IF511
goto IF_FALSE511
label IF511
push constant 3
pop this 14
push this 12
pop this 1
label IF_FALSE511
push this 1
push this 13
lt
not
if-goto IF612
goto IF_FALSE612
label IF612
push constant 4
pop this 14
push this 13
pop this 1
label IF_FALSE612
push pointer 0
call Ball.show 1
pop temp 0
push this 14
return
function Ball.bounce 5
push argument 0
pop pointer 0
push this 2
push constant 10
call Math.divide 2
pop local 2
push this 3
push constant 10
call Math.divide 2
pop local 3
push argument 1
push constant 0
eq
if-goto IF713
goto IF_FALSE713
label IF713
push constant 10
pop local 4
goto IF_END713
label IF_FALSE713
push this 2
push constant 0
lt
not
push argument 1
push constant 1
eq
and
push this 2
push constant 0
lt
push argument 1
push constant 1
neg
eq
and
or
if-goto IF714
goto IF_FALSE714
label IF714
push constant 20
pop local 4
goto IF_END714
label IF_FALSE714
push constant 5
pop local 4
label IF_END714
label IF_END713
push this 14
push constant 1
eq
if-goto IF815
goto IF_FALSE815
label IF815
push constant 506
pop local 0
push local 3
push constant 50
neg
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto IF_END815
label IF_FALSE815
push this 14
push constant 2
eq
if-goto IF816
goto IF_FALSE816
label IF816
push constant 0
pop local 0
push local 3
push constant 50
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto IF_END816
label IF_FALSE816
push this 14
push constant 3
eq
if-goto IF817
goto IF_FALSE817
label IF817
push constant 250
pop local 1
push local 2
push constant 25
neg
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
goto IF_END817
label IF_FALSE817
push constant 0
pop local 1
push local 2
push constant 25
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
label IF_END817
label IF_END816
label IF_END815
push pointer 0
push local 0
push local 1
call Ball.setDestination 3
pop temp 0
push constant 0
return
